*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: url(/Img/pexels-paul-ijsendoorn-33041.jpg);
    background-size: cover;
}

h1, .zag{
    padding: 10px;
    text-align: center;
    font-family: 'Lemon', cursive;
    
    
}

h1{
    padding: 40px;
    color: #e84a5f;
    font-size: 40px;
}

.zag{
    color: #e84a5f;
    font-size: 26px;
    font-weight: 600;
}

.controler{
    width: 100px;
    height: 300px;
    background:#ff847c;
    margin-left: 90%;
    border-radius: 13%;
    box-shadow: 3px 3px 3px 3px  #feceab;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

img{
    padding: 10px;
    width: 80px;
    height: 80px;
    margin-left: -10px;
}

.container-1{
    display: flex;
    justify-content: center;
}

h2{
    padding: 10px;
    font-size: 40px;
    text-align: start;
    font-family: 'Lemon', cursive;
    color: #e84a5f;
}

.block-1{
    margin: 10px;
    display: inline-block;
    width: 320px;
    height: 150px;
    background:#ff847c;
    text-align: center;
    border-radius: 10%;
    box-shadow: 3px 3px 3px 3px #e84a5f;
    
}

button{
    width: 90px;
    height: 50px;
    background: #2d4059;
    border-radius: 5px;
    outline: none;
    border-color: #e84a5f;
    font-size: 16px;
    color: #e5e5e5;
    text-align: center;
    font-family: 'Lemon', cursive;
    font-size: 20px;
}

h3{
    padding: 6px;
    font-size: 22px;
    font-weight: 500;
    color:#2d4059;
}

.part-1::after{
    content: "Lesson card";
    font-weight: 600;
    margin-left: 10px;
    font-size: 20px;
    color:#2d4059;
}

.line{

    align-items:center;
    width: 200px;
    height: 2px;
    border-radius:4%;
    background:rgb(82, 82, 82);
}

.block-line{
    padding: 25px;
    display: flex;
    justify-content: center;
}
.Sprint-1{
    width: 1060px;
    height: 470px;
    border-radius:5%;
}
.Sprint-1:hover{
    background:#feceab;
}